body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ScaderApp {
  text-align: center;
}

.ScaderApp-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .ScaderApp-logo {
    animation: ScaderApp-logo-spin infinite 20s linear;
  }
}

.ScaderApp-body {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ScaderApp-bodyeditmode {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: 1rem;
  color: white;
  text-align: left;
  padding: 0 20px;
}

.ScaderApp-link {
  color: #61dafb;
}

.ScaderElem {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.ScaderElem-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ScaderElem-section-horiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ScaderElem-header {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.ScaderElem-edit {
  background-color: #505050;
  margin: 7px;
  border-radius: 5px;
  padding: 7px;
}

.ScaderElem-edit-group {
  display: flex;
  flex-direction: column;
}

.ScaderElem-edit-line {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.ScaderElem-button {
  align-items: center;
  background-color: #808080;
  border: 1px solid #505050;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
  font-size: 1.4rem;
  height: 10rem;
  justify-content: center;
  margin: 4px 4px;
  padding: 5px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 10rem;
  font-size: 1.4rem;
}

.ScaderElem-button-state {
  font-size: 0.9em;
  margin-top: 35px;
  color: #ffffff;
}

.button-medium {
  width: 8rem;
  height: 8rem;
}

.button-onoff {
  width: 8rem;
  height: 4rem;
}

.in-enabled {
  background-color: green;
}
.out-enabled {
  background-color: green;
}

.inout-disabled {
  background-color: #505050;
}

.ScaderElem-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

.ScaderElem-button-text {
  width: 100%;
  position: absolute;
  top: 1rem;
  width: 100%;
  padding-bottom: 10px;
  font-size: 1.2rem;
}

.ScaderElem-button-icon {
  width: 60%;
  height: 60%;
  padding-top: 3rem;
  position: absolute;
  text-align: center;
}

.ScaderElem-button-editmode {
  width: auto;
  height: 2rem;
  margin-left: 10px;
  border-radius: 8px;
  border: none;
}

.ScaderElem-button-small {
  width: auto;
  height: 60%;
  position: relative;
  top: 0rem;
  padding: 1rem;
}

.ScaderElem-button-inline {
  display: inline-flex;
  top: -2px;
  position: relative;
  margin-left: 10px;
  padding: 5px;
}

.ScaderElem-input {
  font-size: calc(10px + 1vmin);
  margin-left: 10px;
}

.ScaderElem-input-inline {
  font-size: calc(10px + 1vmin);
  margin-left: 10px;
  max-width: 5rem;
  display: inline-flex;
}

.ScaderElem-input-small {
  width: 5rem;
  font-size: 1.5rem;
  margin-left: 10px;
}

.ScaderElem-button-border {
  border: 3px solid #505050 !important;
}

.ScaderElem-checkbox {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 10px;
  margin-right: 10px;
}

.ScaderElem-status {
  margin: 7px;
  padding: 7px;
}

.ScaderElem-status div {
  flex: auto;
}

.ScaderElem-status-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 0px 0px;
  grid-template-areas: ". . ." ". . ." ". . .";
}

.ScaderElem-status-grid div {
  padding: 10px;
}

.ScaderElem-status-grid5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0px 0px 0px 0px;
}

.ScaderElem-status-grid5 div {
  padding: 10px;
}

.ScaderElem-isOpen {
  color: white;
  margin: 0;
  padding: 0;
  border: none;
  background-color: blue;
  position: absolute;
  z-index: 20;
  width: 95%;
  top: 60%;
  text-align: center;
}

.ScaderElem-bell-text {
  background-color: red;
  border-radius: 10px;
  padding: 10px;
}

.ScaderElem-lightlevels-list {
  display: flex;
  flex-direction: row;
}

.ScaderElem-lightlevels-list p {
  flex: 1;
  margin: 0;
}

.Scader-enabled {
  color: green;
}
.Scader-disabled {
  color: red;
}
.ScaderHeader {
  width: 100%;
}

.ScaderHeader-bar {
  padding: 1% 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.ScaderHeader-bareditmode {
  padding: 1% 2%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.ScaderHeader-button-bar {
  /* display: flex; */
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex: 60;
}

.ScaderHeader-title {
  flex: auto;
  font-size: 2.5rem;
  font-weight: bold;
  color: #e0e0e0;
  text-align: center;
}

.ScaderHeader-title-edit {
  flex: auto;
  font-size: 4rem;
  font-weight: bold;
  color: black;
  text-align: left;
}

.ScaderHeader-button {
  flex: auto;
  padding: 10px 20px;
  font-size: 1.4rem;
  margin: 6px;
  border-radius: 8px;
}

.ScaderHeader-hamburger {
  flex: none;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-top: 25px;
}

.ScaderHeader-hamburger-icon {
  padding: 0px 2px;
  width: 150%;
  height: 150%;
}

.ScaderElem-gridhoriz {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 10;
  margin-top: 5px;
}

.ScaderElem-shadename {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80%;
  height: 5rem;
  background-color: #909090;
  border-radius: 10px;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
}

.ScaderElem-shade-button {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #909090;
  border: 1px solid #505050;
  margin: 0.5rem;
  cursor: pointer;
}

.ScaderElem-shade-button svg {
  width: 100%;
  height: 100%;
}

.ScaderElem-shade-extra-button {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #909090;
  border: 1px solid #505050;
  cursor: pointer;
  color: white;
  font-size: 0.5em;
  margin-bottom: 1rem;
}

.ScaderElem-shadegroup {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0.1em;
}

.ScaderElem-shadegroup button {
  background-color: transparent;
  border: none;
  max-width: 7rem;
  height: auto;
}

@keyframes ScaderApp-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
