        /*  shades.css */

        .shade-config {
            padding: 10px;
            margin-top: 30px;
            width: 100%;
            font-size: 1.2em;
            color: #f0f0f0;
        }

        .shade-advanced {
            padding-top: 10px;
            padding-bottom: 10px;
            margin-top: 30px;
            background-color: #202020;
            width: 100%;
            font-size: 1.2em;
            color: #000000;
            text-align: center;
        }

        .shade-advanced a {
            text-decoration: none;
            color: #808080;
        }

        .shade-config {
            padding: 20px;
            font-size: 1.5em;
        }

        .shade-busy {
            color: white;
            display: inline;
            background-color: red;
            padding: 10px;
            margin: 10px;
            border-radius: 5px;
            font-size: 1.5rem;
            visibility: hidden;
        }

        .shades-setup {
            padding-right: 10px;
            color: #00ff00;
            font-weight: bold;
            margin:6px
        }
