        /* plantWaterer.css */

        #ScaderWaterer-plants {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
        }

        .plant-div {
            flex: 20%;
            flex-direction: column;
            background-color: #404040;
            border: none;
            border-radius: 5px;
            margin: 5px;
            padding: 10px;
        }

        .common-config {
            font-size: 1.5rem;
            margin: 0;
            color: #c0c0c0;
            width: auto;
            padding: 0;
            margin-bottom: 5px;
        }

        .plant-name {
            font-size: 1.5em;
            text-align: center;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .plant-meter {
            width: 100%;
            height: 3rem;
            flex: 60%;
        }

        .plant-value {
            flex: 30%;
            margin: 0.75rem;
            font-size: 1.5rem;
        }

        .plant-water-button {
            width: 100%;
        }

        .plant-input {
            font-size: 1.5rem;
        }

        .plant-gauge {
            width: 100%;
            height: 3rem;
            display: flex;
            flex-direction: row;
        }

        .plant-input-label {
            flex: 30%;
            margin-right: 0.75rem;
            font-size: 1.5rem;
        }

        meter::-webkit-meter-bar {
            border-radius: 2px;
            background: white;
            /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) inset; */
            /* box-shadow: 0 5px 5px -5px #999 inset;
            background-image: linear-gradient(90deg, #2286c9 5%, #FF00FF 5%, #FF00FF 15%, #04C319 15%, #04C319 55%, #F1F70D 55%, #F1F70D 95%, #00FFCC 95%, #00FFCC 100%);
            background-size: 100% 100%; */
        }

        meter::-webkit-meter-optimum-value {
            background: blue;
        }

        meter {
            /* -webkit-appearance: none;
            appearance: none; */
            background: none;
            box-shadow: 0 5px 5px -5px #333 inset;
        }