<!DOCTYPE html>
<html>
<head>
	<title>Scader</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript">

{% include "common.js" %}
{% include "CatDeterrent/cat.js" %}
{% include "Relays/relays.js" %}
{% include "ConservatoryOpener/opener.js" %}
{% include "Shades/shades.js" %}
{% include "Door/door.js" %}
{% include "LEDPixels/ledpixels.js" %}
{% include "PlantWaterer/plantWaterer.js" %}
{% include "spin.js" %}

    </script>

	<style>

{% include "common.css" %}
{% include "CatDeterrent/cat.css" %}
{% include "Relays/relays.css" %}
{% include "Shades/shades.css" %}
{% include "ConservatoryOpener/opener.css" %}
{% include "Door/door.css" %}
{% include "LEDPixels/ledpixels.css" %}
{% include "PlantWaterer/plantWaterer.css" %}

	</style>
</head>

<body onload="bodyIsLoaded()">

{% include "indexHeader.html" %}

{% include "common.html" %}

{% include "indexFooter.html" %}

{% include "svgicons.html" %}

</body>

</html>
